<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form action="#" th:action="@{/}" method="post">
<table border="1" cellpadding="8" cellspacing="0">
    <thead>
    <tr>
        <th>#</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Flag</th>
        <th>Send</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="java.util.List<ru.javaops.masterjava.persist.model.User>"*/-->
    <tr th:each="user,iter: ${users}">
        <td th:text="${iter.count}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:utext="${user.email}"></td>
        <td th:text="${user.flag}"></td>
        <td><input type="checkbox" th:name="${user.email}" /></td>
    </tr>
    </tbody>
</table>
Subject
<div>
    <input type="text" name="subject" />
</div>
Body
<div>
    <textarea rows="10" cols="45" name="body"></textarea>
</div>
<button type="submit">Send email</button>
</form>
</body>
</html>